* {
    margin: 0;
    box-sizing: border-box;
}
:root {
    scroll-behavior: smooth;
}


::selection {
    background-color: #c13535;
    opacity: 0.2;
    color: white;
}
.container {
    width: 90%;
    margin: auto;
}
h2{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #7f7f90;
    font-weight: 500;
}
p {
    font-family: "Amatic SC", sans-serif;
    text-align: center;
    font-size: 50px;
}
a {
    color: #fff;
    text-decoration: none;
}
span {
    color:#CE1212;
}

.nav {
    font-family: "Open Sans", sans-serif;
    padding: 25px;
    background-color: white;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 14px 0px #0000001b;
}

.nav .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.container .logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #212529;
}

.nav .container ul {   
    list-style: none;
    flex-direction: row;
    display: flex;
    
}
.nav .container li {
padding: 5px 15px;
position: relative;

}

.nav .container .list-nav a {
text-decoration: none;
color: #7f7f90;
font-size: 17px;
font-weight: 600;

}

.nav .container img {
    width: 25px;
}

.container .logo::after {
    content: ".";
    color: hsl( 0 , 84% , 44% );
}

.nav .container .list-nav .home-a{
    transition: 0.3s 0.1s all ;
}
.nav .container .list-nav .home-a:hover{
    color: #000;
}



.nav .container .list-nav .home-a::after {
    content:" ";
    position: absolute;
    bottom: 0px;
    left: 15px; ;
    width: 0px;
    height: 2px;
    background-color:#CE1212;
    transition: 0.3s 0.1s all ;
    
}

.nav .container .list-nav .home-a:hover::after{
    
    width: 50px;
}



.nav .container .list-nav .chefs-a {
    transition: 0.3s 0.1s all ;
}
.nav .container .list-nav .chefs-a:hover{
    color: #000;
}

.nav .container .list-nav .chefs-a::after {
    content:" ";
    position: absolute;
    bottom: 0px;
    left:15px ;
    width: 0px;
    height: 2px;
    background-color:#CE1212;
    transition: 0.3s 0.1s all ;
}
.nav .container .list-nav .chefs-a:hover::after{
    
    width: 45px;
}

.nav .container .list-nav .gallery-a {
    transition: 0.3s 0.1s all ;
}
.nav .container .list-nav .gallery-a:hover{
    color: #000;
}

.nav .container .list-nav .gallery-a::after {
    content:" ";
    position: absolute;
    bottom: 0px;
    left:14px ;
    width: 0px;
    height: 2px;
    background-color:#CE1212;
    transition: 0.3s 0.1s all ;
}
.nav .container .list-nav .gallery-a:hover::after{
    
    width: 59px;
}

.nav .container .list-nav .contact-a {
    transition: 0.3s 0.1s all ;
}
.nav .container .list-nav .contact-a:hover{
    color: #000;
}

.nav .container .list-nav .contact-a::after {
    content:" ";
    position: absolute;
    bottom: 0px;
    left:14px ;
    width: 0px;
    height: 2px;
    background-color:#CE1212;
    transition: 0.3s 0.1s all ;
}
.nav .container .list-nav .contact-a:hover::after{
    
    width: 65px;
}


/* sec1-start */
.sec1{
    background-color:#EEE;
    height: 100vh;
    padding: 95px 66.800px 0px ;
    font-family:"Open Sans", sans-serif;
}
.sec1 .container {
    width: 97%;
    padding: 40px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec1 .container h2 {
    font-size: 65px;
    font-weight: 600;
    font-family: "Amatic SC", sans-serif;
    color: #37373f;
    text-align: left;
}
.sec1 .container p {
    color: #4f4f5a;
    font-weight: 400;
    margin: 20px 0px ;
    font-size: 16px;
    text-align: left;
    font-family:"Open Sans", sans-serif;
    line-height: 1.6;
}
.sec1 .container .sec1-content {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.sec1 .container .sec1-img {
    width: 40%;
}


.sec1 .container .sec1-img img {
    width: 100%;
    filter: drop-shadow(4px 4px 9px #000a);
}
.container .sec1-img img:hover {
animation: vaibration 1s infinite;
}
@keyframes vaibration {
    0% {
        transform: translate(1px, 1px) rotate(1deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(0deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(-1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(1deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(0deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(1deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(0deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(-1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(1deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(0deg);
    }
}

.container .sec1-button {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.container .sec1-button .sec1-button1 {
    color:#faf6f6 ;
    background-color:#CE1212 ;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    padding: 10px 25px;
    border-radius:0px 50px 50px ;
    margin-right: 30px;
    transition: 0.3s 0.1s all;
}
.container .sec1-button .sec1-button1:hover{
    background-color:#ec1e1e ;
    color: rgb(255, 255, 255);
}

.container .sec1-button .sec1-button2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s 0.1s all;
}
.container .sec1-button .sec1-button2:hover{
    color: #CE1212;
}
.container .sec1-button .sec1-button2:hover .playred{
    opacity: 2;
    
}

.sec1-button2 .li-icon {
    width: 30px;
    height: 55px;
    background-color: #CE1212;
    margin-right: 30px;
    border-radius: 50px 0px 0px 50px;
    position: relative;
}
.sec1-button2 .li-icon img {
    position: absolute;
    width: 80%;
    top: 27.5%;
    left: 52%;
}
.sec1-button2 .li-icon .playred {
    width: 77%;
    top: 28%;
    left: 53%;
    opacity: 0;
    transition: 0.3s 0.1s all;
}
.sec1-button2 .li-icon::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    top: 13%;
    left: 25%;

}

/* sec1-end */


/* sec2-start */
.sec2  {
    padding: 70px 0px ;
}
.sec2 .container {
    width:85%;
    margin: auto;
    
}
.sec2 .container p {
    margin: 0px 0px 20px;
}
.container .sec2-cards {
display: flex;
flex-direction: row;
align-items: center;
gap: 0px 30px;
padding: 0px;

}
.card .cardpic {
position: relative;
}
.card .cardpic::before {
    content: "";
    position: absolute;
    right: 0;
    top: 45%;
    background-image: url(../icons/imgwave.png);
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100%;
}
.sec2-cards .card {
    text-align: center;
    width: 100%;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1) ;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    transition: 0.3s 0.1s;
}
.sec2-cards .card:hover {
    transform: scale(1.06);
}

.card .cardicons {
   width: 10%;
    background-color:#ffffff4d; 
    position: absolute;
    top: 7%;
    right: -10%;
    border-radius: 5px;  
    transition: 0.5s 0.5s;
}
.card .cardicons ul {
    list-style: none;
    padding: 10px;
    
    
}
.card .cardicons ul li{
padding: 7px 0px;


}
.card .cardicons ul li img {
    width: 70%;
    
}
.sec2-cards .card:hover .cardicons{
    right: 7%;
}


.card img {
    width: 100%;
 
}

.card h3 {
    font-size: 19px;
    font-family: "Inter", sans-serif; 
    color: #212529;
    font-weight: 600;
    margin:0px 0px 5px ;
}
.card .cardcontent{
padding: 10px 25px 25px;
font-family:"Open Sans", sans-serif ;
}
 
.card .cardcontent span{
    font-size: 14px;
    font-family:"Open Sans", sans-serif ;  
    color: #7f7f90;
    font-weight: 400;
    
}
.card .cardcontent p {
    font-size: 15px;
    font-family:"Open Sans", sans-serif ;
    color: #7f7f90;
    font-style: italic ;
    margin:10px 0px 0px ;
}
/* sec2-end */

/* sec3-start */

.sec3{
    background-color:#EEE;
    padding: 70px 0px;
}

.sec3 .container{
    width: 87%;
}
.container .sec3-head {
    margin-bottom: 20px;
}
.sec3-pics {
    
    height: 1165px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.sec3-pics div {
    width: calc(calc(100% - 20px*2) / 3);
    border: 4px solid #fff;
    position: relative;
    overflow: hidden;
    
    
}
.sec3-pics  img {
    width: 100%;
    display: block;
    transition: 0.5s 0.1s all;
    }
    

.sec3-pics div .layer{
    background-color: #00000096;
        color: #fff;
        width: 100%;
        height: 100%;
        padding: 15px;    
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        display: flex;
        flex-direction: column;
        border: none;
        gap: 5px;
        justify-content: center;
        align-items: center;
        
        transition: 0.5s 0.1s all;
    }
    .layer h2 {
      font-size: 24px;
      color: #fff;
      font-weight: bold;  
    }
    .layer p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
    }
    .sec3-pics div:hover img {
        transform: scale(1.1)
    }
    .sec3-pics div:hover .layer{
        top: 0;
    }
    /* sec3-end */

    /* sec4-start */
    .sec4 {
        padding: 70px 0px;
    }
    .sec4 .container {
        width: 90%;
    }

    .container .sec4-head {
        margin-bottom: 25px;
    }
    .container iframe {
        width: 98.8%;
        height: 370px;
    }
    .container .sec4-detl  {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin: 30px 0px 0px 0px;
        

    }
    .sec4-detl .group {
        display: flex;
        width: 49%;
        padding: 25px;
        background-color: #f5f5f5;
        align-items: center;
        position: relative;
        
        
    }
    .sec4-detl .icon-sec4::before {
        content: "";
        width: 50px;
        height:50px;
        background-color: #CE1212;
        border-radius: 30px;
        position: absolute;
        left: 4.5%
    }

    .group .icon-sec4  {
        width: 10%;
        margin-right: 15px;
        
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    .group .icon-sec4 img {
        width: 25px;
        z-index: 33;
        
        
    }
    .group .content h3 {
        font-family: "Inter", sans-serif;
        font-size: 20px;
        color: #7d7d7d;
    }
    .group .content p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: #212529;
    }
    .group .content span{
        font-weight: bold;
        color: #212529;
    }

    .cont-form {
        background-color:#fff;
        display: flex;
        flex-direction: column;
        width: 99%;
        gap: 10px;
        margin-top: 30px;
        padding: 20px;
        box-shadow: 0 0 30px #00000014;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
    }
    
    .cont-form .inputgr {
        display: flex;
        gap: 10px;
    }

    .cont-form .inputgr input {
        width:49.76% ;
        
    }
    .cont-form input {
        padding: 15px;
        border: 2px solid #d6d6d6bd;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        transition: 0.3s 0.1s;
        
    }
    .cont-form input:focus {
        outline: none;
        border-color: #CE1212;

    }
    .cont-form textarea {
        height: 150px;
        border: 2px solid #d6d6d6bd;
        margin-bottom: 20px;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        transition: 0.3s 0.1s ;

    }
    .cont-form textarea:focus {
        outline: none;
        border-color: #CE1212;

    }
    .cont-form .btnfr {
        width: fit-content;
        background-color: #CE1212;
        border: none;
        margin: auto;
        padding: 15px 40px;
        border-radius: 30px;
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        transition: 0.3s 0.1s all;
    }
    .cont-form .btnfr:hover {
        background-color: #ec1e1e;
    }
    /* sec4-end */

    /* footer-start */

    .footer {
        background-image: linear-gradient(#0009, #0009), url(../imgs/footer-back.jpg);
        color: #fff;
        box-shadow: 0px -1px 5px #0007;
        background-position: center;
        background-size: contain;

    }
    .footer .container {
        display: flex;
        gap: 10px;
        padding: 40px 5px;
    }
    .footer h2 {
        font-family: "Open Sans", sans-serif;
        font-size: 30px;
        text-align: left;
        color: #fff;
        font-weight: 700;
    }

    .footer h2::after {
        content: ".";
        color: hsl( 0 , 84% , 44% );
    }
    .footer h3 {
        font-family: "Inter", sans-serif;
        font-size: 19px;
        font-weight: 600;
        text-align: left;
    }
    .footer p {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        text-align: left;
        color: #fff;
        margin: 10px 0px;
    }

     .container .foot-grs {
        display: flex;
        
    }
    .container .foot-gr1 {
        display: flex;
        flex-direction: column;
        width: 24%;

    }
    .foot-gr1 .gr1-head {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .foot-gr1 .gr1-head  img {
        width: 40px;
    }

    .foot-gr1 .social-links {
        list-style: none;
        display: flex;
        width: 100%;
        padding: 10px;
        align-items: center;
        justify-content: space-around;

    }

    .foot-gr1 .social-links li img {
        width: 20px
    }
    .foot-grs .foot-gr2 {
        width: 49%;

    }
    .foot-gr2 .sub {
        margin-bottom: 20px;
    }
    .foot-gr2 .sub-input {
      display: flex;
      gap: 5px;
    }
    .sub-input input {
        width: 79%;
        padding: 10px;
    }
    .sub-input .btn-sub {
        background-color: #CE1212;
        display: flex;
        border: none;
        color: #fff;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 400;
        width: 15%;
         transition: 0.3s 0.1s all;
    }
    .sub-input .btn-sub p {
        font-family: Arial, Helvetica, sans-serif;
    }
    .sub-input .btn-sub img {
        width: 20px;
    }
   

.sub-input .btn-sub:hover {
    background-color: #ec1e1e;
}
    .foot-gr1 .soc-text {
        text-align: center;
        width: 95%;
        padding: 10px;
        border-bottom: 2px solid #ddd6;
        margin-bottom: 15px;
    }
    .quick ul {
        padding: 0px 0px 0px 15px ;
        list-style:none ;
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0px 0px 0px;
        width: 100%;
        column-gap: 30px;

    }
    .quick ul li {
        font-family: "Open Sans", sans-serif;
        padding: 5px;
        
        font-size: 16px;
        font-weight: 400;
        width: 47%;
        position: relative;
        transition: 0.3s 0.1s all;
        
    }
    .quick ul li::before {
        content:" ";
        position: absolute;
        top: 1%;
        right: 98%;
        background-image: url(../icons/Untitled9.png);
        width: 7%;
        height: 100%;
        background-repeat:no-repeat;
        background-position: center;
        background-size: 100%;
        transition: 0.3s 0.1s all;
        
    }
    
    .quick ul li:hover::before {
        background-color: #222;
        
    }
    .quick ul li:hover {
        transform: translateX(6px);
        background-color: #222;
    }
    .foot-grs .contact-det {
        width: 24%;
    }
    .contact-det ul {
        list-style: none;
        padding: 0;
    }

    .contact-det ul li {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .contact-det ul li img {
        width: 35px;
    }
    .contact-det ul li a {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
    }




 


 






 


    
